.Feature {

}

.Feature-figure {
  margin-bottom: 0.75em;
  border: 1px solid hsl(0, 0%, 85%);
  transition: border-color 0.2s;
}

.Feature-image {
  display: block;
  max-width: 100%;
  height: auto;
  border: 5px solid hsl(0, 100%, 100%);
}